{{!-- <div class="wrapper">
	<h1>{{cardTitle}}</h1>
	<div class="cards-wrapper">
		<div class="row">
            {{#each items}}
                <div class="col s5 m5 xl3 l3">
                    <div class="card-item mb-5">
                        <div class="overlayer">
                            <a href="/{{type}}/{{this.id}}"><i class="material-icons fa-play-circle">play_circle_filled</i></a>
                        </div>
                        <img class="responsive-img {{#if this.circleImg}} circle {{/if}}" src="{{#if this.picture_medium}}{{this.picture_medium}}{{else}}{{this.cover_medium}}{{/if}}">
                        <div class="title">
                            <a href="/{{type}}/{{this.id}}" class="truncate"> {{#if this.name}} {{this.name}} {{else}} {{this.title}} {{/if}}</a>
                            {{#compareValues type 'album' 'equal'}}
                                <a href="/artist/{{../this.id}}" class="truncate">{{../this.artist.name}}</a>
                            {{/compareValues}}
                        </div>
                    </div>	
                </div>
            {{/each}}

        </div>
		
	</div>
</div> --}}

<div class="row">
    {{#each items}}
        <div class="col s6 m6 xl3 l3">
            <div class="card">
                <div class="card-image grey darken-4">
                    <a href="/{{type}}/{{this.id}}"> <img border="0" alt="{{#if this.name}} {{this.name}} {{else}} {{this.title}} {{/if}}" src="{{#if this.picture_medium}}{{this.picture_medium}}{{else}}{{this.cover_medium}}{{/if}}" class="responsive-img p-3" {{#if ../circleImg}} style="border-radius: 50% !important;" {{/if}}></a>
                    {{!-- <span class="card-title truncate">{{#if this.name}} {{this.name}} {{else}} {{this.title}} {{/if}}</span> --}}
                </div>
                {{!-- <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div> --}}
                <div class="card-action center grey darken-4">
                    <a href="/{{type}}/{{this.id}}"><small class="white-text clamp-overflow">{{#if this.name}} {{this.name}} {{else}} {{this.title}} {{/if}}</small></a>
                    {{#compareValues type 'album' 'equal'}}
                            <a href="/artist/{{this.id}}"> <small style="margin-top: -15px;" class="grey-text clamp-overflow">{{this.artist.name}}</small></a>
                    {{/compareValues}}
                </div>
            </div>
        </div>
    {{/each}}
</div>