<table>
    <thead>
        <tr class="hide-on-med-and-down" style="border-bottom:1px solid #212121;">
            <th>#</th>
            <th>Title</th>
            <th colspan="3">Album</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
            <tr style="border-bottom:1px solid #212121;" class="track-field-wrapper" data-track-id="{{this.id}}" data-track-number="{{@index}}" data-track-title="{{this.title}}" data-track-cover="{{this.album.cover_small}}" data-album-id="{{this.album.id}}" data-artist-id="{{this.artist.id}}" data-artist="{{this.artist.name}}" id="{{this.id}}" data-album="{{this.album.title}}" data-duration="{{this.duration}}">
                
                <td class="c-pointer track-field">
                    <a href="javascript:void(0);"><img width="45px" height="45px" src="{{this.album.cover_small}}" class="responsive-img"> </a>
                </td>
                <td class="c-pointer track-field">
                    <a href="javascript:void(0);" class="white-text track-title clamp-overflow">{{this.title}} {{#if this.explicit_lyrics}}<i class="material-icons grey-text lighten-5 tiny prefix">explicit</i> {{/if}} </a>
                    {{#if this.contributors}}
                        <span class="clamp-overflow" style="-webkit-line-clamp: 1 !important;">
                            {{{getLinks this.contributors 'artist'}}}
                        </span>
                    {{else}}
                        <a class="grey-text lighten-5 clamp-overflow" style="-webkit-line-clamp: 1 !important;" href="javascript:void(0);">{{this.artist.name}}</a>
                    {{/if}}
                </td>
                <td class="c-pointer track-field hide-on-med-and-down">
                    <a class="grey-text lighten-5 clamp-overflow" style="-webkit-line-clamp: 2 !important;" href="javascript:void(0);">{{this.album.title}}</a>
                </td>
                <td class="c-pointer track-field">
                    <a href="javascript:void(0);" class="grey-text">{{fixDuration this.duration}}</a>
                </td>

                <td>
                    <a href="javascript:void(0);" class="dropdown-trigger track-dropdown-trigger grey-text" data-target="track-list-menu-{{this.id}}"><i class="material-icons">more_vert</i></a>
                    <ul id='track-list-menu-{{this.id}}' class="dropdown-content black" style="z-index: 10 !important;">
                        <li><a href="javascript:void(0);" class="white-text"> <i class="material-icons">favorite_border</i> Add to favorite </a></li>
                        <li><a href="javascript:void(0);" class="white-text"> <i class="material-icons">playlist_add</i> Add to Playlist </a></li>
                        <li><a href="/artist/{{this.artist.id}}" class="white-text"> <i class="material-icons">person_add</i> View Artist </a></li>
                        <li><a href="/album/{{this.album.id}}" class="white-text"> <i class="material-icons">album</i> View Album </a></li>
                    </ul>
                </td>
            </tr>
        {{/each}}
    </tbody>
    {{!-- <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">
                <span class="grey-text">more &#62;&#62;</span>
            </td>
        </tr>
    </tfoot> --}}
</table>
