<div class="row mt-5 mr-5 mb-5 ml-5">
    <div class="col s12 m12 xl4 l4 offset-xl2 offset-l2 ">
        <img src="{{album.data.cover_big}}" style="border: 1px solid #263238; border-radius: 25px;"  class="responsive-img">
    </div>
    <div class="col s12 m12 xl4 l4 left">
        <div class="row">
            <div class="col s12">
                <h5 style="font-weight: bolder;">{{album.data.title}}</h5>
            </div>
            <div class="col mt-3">
                <a href="/{{album.data.artist.id}}"><img src="{{album.data.artist.picture_small}}" width="35px" height="35px" alt="{{album.data.title}} by {{album.data.artist.name}}" class="responsive circle"></a>
            </div>
            <div class="col mt-4" style="margin-left: -10px;">
                <span style="font-weight: bolder;"><a href="/artist/{{album.data.artist.id}}" class="grey-text lighten-5">{{album.data.artist.name}}</a></span>
            </div>
        </div>

        <div class="row" style="margin-top: -15px;">
            <div class="col">
                <small class="grey-text lighten-5">{{album.data.record_type}} {{changeDateFormat album.data.release_date}} - tracks: {{album.data.nb_tracks}} - duration: {{fixDuration album.data.duration 'album'}} </small>
                <br>
                <small class="grey-text lighten-5">label: {{album.data.label}} - genre: {{{getLinks album.data.genres.data 'genre'}}} </small>
            </div>
        </div>

    </div>
    <div class="col s12 m12 xl12 l12">
        <h4 style="font-weight: bold;">{{artist.data.name}}</h4>
        <table>
            <tbody>
                {{#each album.data.tracks.data}}
                    {{> track_list_1 (object item=this)}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div id="more-albums-wrapper">
    {{> card_slide (object cardTitle=cardTitle idName="more-albums-card" cardTextFrom="title" items=othersAlbum.data.data ) }}
</div>

<script>
    $(function() {
        initSplide('#more-albums-card')
    })
</script>
