<div class="container">
    <div class="row mt-5">
        <div class="col s12 m12 xl4 l4 offset-xl2 offset-l2 ">
            <img src="{{playlist.picture_big}}" style="border: 1px solid #263238; border-radius: 25px;"  class="responsive-img">
        </div>
        <div class="col s12 m12 xl4 l4 left">
            <div class="row">
                <div class="col s12">
                    <h5 style="font-weight: bolder;">{{playlist.title}}</h5>
                    <p>{{playlist.description}}</p>
                </div>
                <div class="col s12">
                    <small>{{playlist.nb_tracks}} Tracks - {{fixDuration playlist.duration 'album'}}</small>
                </div>
            </div>

        </div>
        <div class="col s12 m12 xl12 l12 mb-5 mt-5">
            {{> track_list_1 (object items=playlist.tracks.data) }}
        </div>
    </div>
</div>